<!DOCTYPE html>
{% extends 'LeaguePageBase.html' %}

{% block navPills %}
                  <li>
                      <a href="LeagueSample">League Home</a>
                  </li>
                  <li>
                    <a href="LeagueRankings">League Rankings</a>
                  </li>
                  <li>
                    <a href="StartingPercentages">Starting Percentages</a>
                  </li>
                  <li class="active">
                    <a href="DreamTeam">Your Dream Team</a>
                  </li>
{% endblock %}
{% block content %}
             <h2>Dream Team</h2>
                <p>This is a sample "Dream Team" page. Check out the links on the side for our awesome features.  </p>
            
{% endblock %}