<!DOCTYPE html>
{% extends 'LeaguePageBase.html' %}

{% block navPills %}
                  <li>
                      <a href="LeagueSample">League Home</a>
                  </li>
                  <li  class="active">
                    <a href="LeagueRankings">League Rankings</a>
                  </li>
                  <li>
                    <a href="StartingPercentages">Starting Percentages</a>
                  </li>
                  <li>
                    <a href="DreamTeam">Your Dream Team</a>
                  </li>
{% endblock %}
{% block content %}
              <h2>League Rankings</h2>
                <p>This is a sample page that shows your ranking compared to other members of your League.  </p>
{% endblock %}
