<!DOCTYPE html>
{% extends 'LeaguePageBase.html' %}


{% block content %}
              <div class= "row">
              <div class= "span10">
                <h2>Weekly Player Values</h2>
                <p>This shows the player value of the players you started every week this season.  </p>
              </div>
              </div>
              
              <div class="row">
                <div class="span5">
                       <h3>Average Efficiency Rating </h3>
                </div>
                <div class="span5">
                  <p> The links on the side provide a detailed breakdown of your the players on each Owner's team</p>
                </div>
              </div>

{% endblock %}
