<!DOCTYPE html>
{% extends 'LeaguePageBase.html' %}


{% block content %}
              <div class= "row">
              <div class= "span10">
                <h2>League Home Page</h2>
                <p>This is a sample team home page. Check out the links on the side for our awesome features.  </p>
              </div>
              </div>
              
              <div class="row">
                <div class="span5">
                       <h3>Recent Match Results </h3>
                <table class ="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Player Name</th>
                      <th> Opponent Name</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for player in team %}
                    <tr>
                      <td>
                        {% if player.didWin %}
                            <FONT COLOR ="24d624"> {{player.name}} </FONT>({{player.wins}})
                        {% else %} {{player.name}} ({{player.wins}})
                        {% endif %}
                      </td>
                    </tr>
                      {% empty %}
                      <tr>
                        <td> No More Matches </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                </div>
                <div class="span5">
                  <p> This table shows the <FONT COLOR ="24d624"> winners </FONT> and loosers of last week's matches. Enjoy!</p>
                </div>
              </div>

{% endblock %}
