 <div class="row">
                 <div class="span12">
                    <h3>
                    Smart Start Percentage
                    </h3>
                  <p> This table shows percent of correct players that you started last week. For more info about how we calculate this stat, click the button below:</p>
                  <p><a class="btn btn-info" href="/football/stats/DreamTeam">More Info &raquo;</a></p>
                </div>
                <table class ="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <td> </td>
                    {% for week in goodStartList %}
                      <th>Week {{week.week_num}}</th>      
                    {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                     <tr>
                      <td>Percentage</td>
                      {% for week in goodStartList %}
                      <td>{{week.percent_optimal}}</td>
                      {% empty %}
                      <td> No percent show, please contact us to report this issue! </td>
                       {% endfor %}
                     </tr>     
                  </tbody>
                </table>
               </div>