<!DOCTYPE html>
{% extends 'LeaguePageBase.html' %}

{% block navPills %}
                  <li>
                      <a href="LeagueSample">League Home</a>
                  </li>
                  <li>
                    <a href="LeagueRankings">League Rankings</a>
                  </li>
                  <li class="active">
                    <a href="StartingPercentages">Starting Percentages</a>
                  </li>
                  <li>
                    <a href="DreamTeam">Your Dream Team</a>
                  </li>
{% endblock %}
{% block content %}
             <h2>Starting Percentages</h2>
                <p>This is a sample team starting percentages page. Check out the links on the side for our awesome features.  </p>
                     <table.class ="table table-striped">
                  <thead>
                    <tr>
                      <th>Player Name</th>
                      <th> Opponent Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> Player 1</td>
                      <td> Player 2</td>
                    </tr>
                    <tr>
                      <td> Player 3</td>
                      <td> Player 4</td>
                    </tr>
                  </tbody>
                </table>
{% endblock %}

