<!DOCTYPE html>
{% extends 'LeaguePageBaseB.html' %}


{% block content %}
       <div class= "row">
          <div class= "span10">
                
                 <h1>{{ownerInfo.team_name}}</h1>
               <div class="well">
                  <p>Season long stats for the players on {{ownerInfo.owner_name}}'s team. {{ownerInfo.rj_team_id}}  </p>
              </div>
          </div>
       </div>
       
                        
    <div class="row">
            <div class="span10">
                  <p> <span class="label"> Pick Value</span> This table shows the pick value of your players. For more info about how we calculate this stat, click the button below:</p>
               <p><a class="btn" href="/football/stats/PlayerValues">More Info &raquo;</a></p>
            </div>   


                <table class ="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>NFL Player (Player ID NUMBER)</th>
                      <th> Position</th>
                      <th>Efficiency Rating(Pick Value)</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for player in ERList %}
                    <tr>
                      <td>
                        {{player.player_name}}
                      </td>
                      <td>
                        {{player.player_position}}
                      </td>
                      <td>{{player.pick_value}}</td>
                    </tr>
                      {% empty %}
                      <tr>
                        <td> No Players to display, please contact us to report this issue! </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
    </div>
    
    

{% endblock %}
